a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

a:active, a:focus,
button:active, button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url('../images/header.webp') no-repeat center center fixed;
    -webkit-background-size: 120%;
    -moz-background-size: 120%;
    -o-background-size: 120%;
    background-size: 120%;
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "header";
    height: 100vh;
    width: 100%;
}

.title {
    align-self: center;
    color: white;
    grid-area: header;
    text-align: center;
    justify-self: center;
}

.title h1 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: -10px;
}

.topbar {
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.topbarLink {
    font-size: 1.3rem;
    margin-left: 15px;
}

#believeLogo {
    margin-left: 40px;
    width: 250px;
}

#believeLogo:hover {
    cursor: pointer;
}

#contactButton {
    background-color: #ea1e49;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    height: 45px;
    letter-spacing: 1px; 
    transition: ease 0.2s all;
    width: 130px;
}

#contactButton:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
}

#contactButton:active {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    transition: none;
}

#homeLink {
    margin-left: 0;
}

#topbarLinksDiv {
    float: right;
    margin-right: 40px;
    text-shadow: 2px 2px black;
}

#topbarLinksDiv a:hover {
    border-bottom: 3px solid #1aade4;
    padding-bottom: 3px;
    transition: ease 0.1s all;
}