a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

a:active, a:focus,
button:active, button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.benefitsDivTop {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px;
    grid-template-areas: 
    "bdTitle bdTitle bdTitle"
    "bdEasyAccess bdAppointments bdSchedule";
    height: 455px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 1350px;
    z-index: 5;
}

.benefitsDivBottom {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px;
    grid-template-areas: 
    "bdCoverage bdSchedule";
    height: 220px;
    justify-items: center;
    margin: 120px auto 100px auto;
    position: relative;
    text-align: center;
    width: 900px;
    z-index: 5;
}


.benefitsDivTop h3,
.benefitsDivBottom h3 {
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.benefitsDivTop img,
.benefitsDivBottom img {
    margin-bottom: -15px;
    width: 130px;
}

.benefitsDivTop p,
.benefitsDivBottom p {
    font-size: 1.4rem;
    width: 280px;
}

.greaterConvGrid {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 35px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "grTitle grPic"
    "grSubTitle grPic"
    "grSmart grPic"
    "grVirtual grFlash"
    "grPersonal grSupport";
    height: 1100px;
    margin: -600px auto 230px auto;
    position: relative;
    width: 1350px;
    z-index: 5;
}

.greaterConvTile {
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e4e3e3;
    height: 175px;
    width: 600px;
}

.greaterConvTile h3 {
    font-size: 1.5rem;
}

.greaterConvTile img {
    position: absolute;
}

.greaterConvTile p {
    color: #868686;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 420px;
}

.greaterConvTile h3, 
.greaterConvTile p {
    margin-left: 100px;
}

.header {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "header";
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.title {
    align-self: center;
    color: white;
    grid-area: header;
    text-align: center;
    justify-self: center;
}

.title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: -10px;
}

.title p {
    font-size: 1.1rem;
}

.topbar {
    top: 20px;
    position: absolute;
    width: 100%;
    z-index: 6;
}

.topbarLink {
    font-size: 1.3rem;
    margin-left: 15px;
}

#backgroundCircles {
    left: 50%;
    margin: -760px 0 0 -430px;
    position: absolute;
    width: 860px;
    z-index: 1;
}

#bdAppointments {
    grid-area: bdAppointments;
}

#bdCoverage {
    grid-area: bdCoverage;
}

#bdEasyAccess {
    grid-area: bdEasyAccess;
}

#bdTitle {
    grid-area: bdTitle;
    margin-top: 00px;
}

#bdTitle h1 {
    color: #33b1e1;
    font-size: 3rem;
}

#bdTitle h3 {
    font-size: 1.5rem;
    margin-top: -10px;
}

#bdSchedule {
    grid-area: bdSchedule;
}

#believeLogo {
    margin-left: 40px;
    width: 250px;
}

#believeLogo:hover {
    cursor: pointer;
}

#believeTopic {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    grid-area: believe;
    justify-self: center;
    text-align: center;
    width: 650px;
    z-index: 5;
}

#believeTopic h1 {
    color: #1aade4 !important;
    font-size: 3rem;
    font-weight: 700;
}

#believeTopic h3 {
    font-size: 1.8rem;
}

#contactButton {
    background-color: #ea1e49;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    height: 45px;
    letter-spacing: 1px; 
    transition: ease 0.2s all;
    width: 130px;
}

#contactButton:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
}

#contactButton:active {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    transition: none;
}

#geaterConvFamily {
    grid-area: grPic;
    justify-self: right;
    margin-right: -100px;
    width: 700px;
}

#greaterConvImg {
    margin-top: 180px;
    position: relative;
    width: 100%;
    z-index: 1;
}

#greaterConvP {
    grid-area: grSubTitle;
}

#greaterConvP p {
    color: #919191;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 200px;
}

#greaterConvTitle {
    align-self: top;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    grid-area: grTitle;
    justify-self: top;
    margin-top: -25px;
    width: 460px;
}

#greaterConvTitle h1 {
    font-weight: 700;
}

#greaterConvTitle p {
    font-weight: 400;
    margin-top: -20px;
}

#grFlashPass {
    grid-area: grFlash;
}

#grFlashPass img {
    margin: 18px 0 0 25px;
    width: 50px;
}

#grPersonal {
    grid-area: grPersonal;
}

#grPersonal img {
    margin: 16px 0 0 25px;
    width: 50px;
}

#grSmartMsg {
    grid-area: grSmart;
}

#grSmartMsg img {
    margin: 15px 0 0 32px;
    width: 40px;
}

#grSupport {
    grid-area: grSupport;
}

#grSupport img {
    margin: 14px 0 0 25px;
    width: 47px;
}

#grVirtual {
    grid-area: grVirtual;
}

#grVirtual img {
    margin: 19px 0 0 26px;
    width: 47px;
}

#headerBackground {
    left: 0;
    position: absolute;
    top: -150px;
    width: 100%;
    z-index: 1;
}

#homeLink {
    margin-left: 0;
}

#middleProb {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    margin-top: 265px;
    margin-left: -55px;
    height: 170px;
    width: 785px;
}

#outerProbs {
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    height: 500px;
    margin-top: 50px;
    padding-top: -1px;
}

#prob1 {
    margin-left: 45px;
    margin-top: 100px;

    background: url('../images/diamond.png') no-repeat left 69px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    padding-left: 45px;
    padding-top: 55px;
    width: 540px;
}

#prob2 {
    background: url('../images/diamond.png') no-repeat left 50px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    margin-left: 150px;
    padding-left: 45px;
    padding-top: 36px;
    width: 540px;
}

#prob2 li {
    width: 430px;
}

#prob3 {
    margin-left: 45px;
    margin-top: 266px;

    background: url('../images/diamond.png') no-repeat left 30px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    padding-left: 45px;
    width: 540px;
}

#prob1 li, 
#prob2 li,
#prob3 li {
    font-size: 1.5rem;
}

#problemDivEllipse {
    margin-top: -1050px;
    position: absolute;
    right: 0;
}

#problemList {
    font-family: 'Raleway', sans-serif;
    grid-area: rect;
    z-index: 9;
}

#problemTopic {
    align-self: center;
    grid-area: problem;
    font-family: 'Raleway', sans-serif;
    margin-top: -40px;
    width: 430px;
}

#problemTopic h1 {
    color: #ea1e49;
    font-size: 3rem;
    font-weight: 700;
}

#problemTopic p {
    color: #8c8c8c;
    font-size: 1.5rem;
    font-weight: 400;
}

#theProblemDiv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "believe believe"
    "problem rect"
    "problem rect";
    height: 1200px;
    margin-top: 105vh;
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
}

#topbarLinksDiv {
    float: right;
    margin-right: 40px;
    text-shadow: 2px 2px black;
}

#topbarLinksDiv a:hover {
    border-bottom: 3px solid #1aade4;
    padding-bottom: 3px;
    transition: ease 0.1s all;
}