a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

a:active, a:focus,
button:active, button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.believeTeamDiv {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
    "btTitle btTitle btTitle"
    "doug sandy ben"
    "doug sandy ben"
    "doug sandy ben";
    height: 845px;
    justify-items: center;
    margin: -100px auto 200px auto;
    position: relative;
    text-align: center;
    width: 1350px;
    z-index: 5;
}

.benefitsDivTop {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px;
    grid-template-areas: 
    "bdTitle bdTitle bdTitle"
    "bdEasyAccess bdAppointments bdSchedule";
    height: 455px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 1350px;
    z-index: 5;
}

.benefitsDivBottom {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px;
    grid-template-areas: 
    "bdCoverage bdSchedule";
    height: 220px;
    justify-items: center;
    margin: 120px auto 100px auto;
    position: relative;
    text-align: center;
    width: 900px;
    z-index: 5;
}


.benefitsDivTop h3,
.benefitsDivBottom h3 {
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.benefitsDivTop img,
.benefitsDivBottom img {
    margin-bottom: -15px;
    width: 130px;
}

.benefitsDivTop p,
.benefitsDivBottom p {
    font-size: 1.4rem;
    width: 280px;
}

.blueText {
    color: #1aade4;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 33px;
    margin-bottom: 33px;
}

.checkMark {
    margin: -57px 0 0 400px;
    position: absolute;
}

.colItem {
    height: 80px;
}

.columnTitle {
    color: #90a2bd;
    font-weight: 700;
}

.footerDiv {
    background-color: #33b1e1;
    color: white;
    height: 318px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
    width: 100%;
}

.footerDiv h1 {
    margin: 0;
    padding-top: 30px;
}

.getInTouchDiv {
    background-color: #3b8dc4;
    color: white;
    height: 665px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
    width: 100%;
}

.getInvolvedDiv {
    font-family: 'Raleway', sans-serif;
    margin: -75px auto 100px auto;
    text-align: center;
    width: 1100px;
}

.getInvolvedDiv a {
    color: #1686c7;
    font-size: 1.7rem;
    font-weight: 700;
}

.getInvolvedDiv a:hover {
    text-decoration: underline;
}

.getInvolvedDiv h1 {
    font-size: 2.2rem;
}

.getInvolvedDiv p {
    color: #8f8f8f;
    font-size: 1.5rem;
}

.grayText {
    color: #90a2bd;
    font-size: 1.25rem;
    font-weight: 600;
    width: 270px;
}

.greaterConvGrid {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 35px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "grTitle grPic"
    "grSubTitle grPic"
    "grSmart grPic"
    "grVirtual grFlash"
    "grPersonal grSupport";
    height: 1100px;
    margin: -600px auto 230px auto;
    position: relative;
    width: 1350px;
    z-index: 5;
}

.greaterConvTile {
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e4e3e3;
    height: 175px;
    width: 600px;
}

.greaterConvTile h3 {
    font-size: 1.5rem;
}

.greaterConvTile img {
    position: absolute;
}

.greaterConvTile p {
    color: #868686;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 420px;
}

.greaterConvTile h3, 
.greaterConvTile p {
    margin-left: 100px;
}

.header {
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "header";
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.horizLine {
    display: block;
    height: 1px;
    border: 0; 
    border-top: 2px solid #f4f4f4;
    margin: 25px 0 0 0;
    padding: 0;
}

.price {
    color: #1aade4;
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
}

.priceSubtitle {
    color: #dbdfec;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: -35px;
}

.proactiveCareDiv {
    align-items: center;
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "pcTitle pcTitle"
    "leftCol rightCol"
    "leftCol rightCol"
    "leftCol rightCol"
    "leftCol rightCol";
    height: 1300px;
    justify-items: center;
    margin: 100px auto 300px auto;
    position: relative;
    text-align: center;
    width: 1350px;
    z-index: 5;
}

.teamImg {
    clip-path: circle(50%);
    margin-top: 30px;
}

.teamTile {
    background-color: white;
    box-shadow: 0px 0px 40px 4px #eeeded;
    height: 620px;
    margin-top: 0px;
    width: 350px;
}

.teamTile h2 {
    color: #1686c7;
    font-size: 2.12rem;
}

.teamTile p {
    color: #bababa;
    font-size: 1.1rem;
    margin: 20px auto 25px auto;
    width: 295px;
}

.teamTileName {
    margin: 20px 0 0 0;
}

.teamTilePosition {
    margin: 5px 0 0 0;
}

.title {
    align-self: center;
    color: white;
    grid-area: header;
    text-align: center;
    justify-self: center;
}

.title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: -10px;
}

.title p {
    font-size: 1.1rem;
}

.topbar {
    top: 20px;
    position: absolute;
    width: 100%;
    z-index: 6;
}

.topbarLink {
    font-size: 1.3rem;
    margin-left: 15px;
}

#backgroundCircles {
    left: 50%;
    margin: -760px 0 0 -430px;
    position: absolute;
    width: 860px;
    z-index: 1;
}

#backgroundCircles2 {
    left: 50%;
    margin-left: -650px;
    margin-top: -1400px;
    position: absolute;
    width: 1300px;
    z-index: 1;
}

#bdAppointments {
    grid-area: bdAppointments;
}

#bdCoverage {
    grid-area: bdCoverage;
}

#bdEasyAccess {
    grid-area: bdEasyAccess;
}

#bdTitle {
    grid-area: bdTitle;
    margin-top: 00px;
}

#bdTitle h1 {
    color: #33b1e1;
    font-size: 3rem;
}

#bdTitle h3 {
    font-size: 1.5rem;
    margin-top: -10px;
}

#bdSchedule {
    grid-area: bdSchedule;
}

#believeLogo {
    margin-left: 40px;
    width: 250px;
}

#believeLogo:hover {
    cursor: pointer;
}

#believeTopic {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    grid-area: believe;
    justify-self: center;
    text-align: center;
    width: 650px;
    z-index: 5;
}

#believeTopic h1 {
    color: #1aade4 !important;
    font-size: 3rem;
    font-weight: 700;
}

#believeTopic h3 {
    font-size: 1.8rem;
}

#benTile {
    grid-area: ben;
}

#benTile p {
    width: 280px;
}

#benTile .contactIcon {
    margin-top: 25px;
}

#benTile .linkedInIcon {
    margin-right: 7px;
}

#benTile .emailIcon {
    margin-left: 7px;
}

#btTitle {
    grid-area: btTitle;
    justify-self: left;
    margin-left: 45px;
    text-align: left;
}

#btTitle p {
    color: #b3b3b3;
    font-size: 1.5rem;
}

#btTitle h3 {
    font-size: 1.8rem;
    width: 1100px;
}

#contactButton {
    background-color: #ea1e49;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    height: 45px;
    letter-spacing: 1px; 
    transition: ease 0.2s all;
    width: 130px;
}

#contactButton:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
}

#contactButton:active {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    transition: none;
}

#contactForm {
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
    "firstname lastname"
    "email email"
    "phone phone"
    "physician physician"
    "contact contact"
    "submit submit";
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(6, auto);
    height: 450px;
    margin: 30px auto 0 auto;
    width: 715px;
}

#contactForm input {
    border: none;
    border-radius: 5px;
    color: rgb(99, 99, 99);
    font-size: 1.2rem;
    height: 65px;
    padding-left: 20px;
}

#contactForm input::placeholder {
    color: #9c9c9c;
}

#daTitle {
    font-family: 'Raleway', san-serif;
    text-align: center;
    margin: -80px auto 200px auto;
}

#daTitle h1 {
    font-weight: 700;
}

#dougTile {
    grid-area: doug;
}

#dougTile .contactIcon {
    margin-top: 25px;
}

#dougTile .linkedInIcon {
    margin-right: 7px;
}

#dougTile .emailIcon {
    margin-left: 7px;
}

#footerBelieveLogo {
    float: left !important;
    grid-area: believe;
    width: 160px;
}

#footerCopyright {
    grid-area: copyright;
}

#footerHR {
    background-color: #5cc4f2;
    height: 2px;
    margin-top: 40px;
    position: absolute;
    width: 100%;
}

#footerLinks {
    align-items: center;
    bottom: -40px;
    display: grid;
    grid-template-areas: 
    "believe copyright terms";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 110px;
    left: 50%;
    margin-left: -567.5px;
    position: relative;
    width: 1125px;
    z-index: 11;
}

#footerLinks a {
    justify-self: right;
    width: 158px;
}

#footerLinks p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

#footerTerms {
    float: right;
    grid-area: terms;
}

#footerTerms:hover {
    text-decoration: underline !important;
}

#formContact {
    grid-area: contact;
}

#formEmail {
    grid-area: email;
}

#formFirstname {
    grid-area: firstname;
}

#formLastname {
    grid-area: lastname;
}

#formPhone {
    grid-area: phone;
}

#formPhysician {
    grid-area: physician;
}

#formSubmitBtn {
    background-color: #33b1e1;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    grid-area: submit;
    height: 60px;
    margin: 0 auto;
    transition: ease 0.2s all;
    width: 475px;
}

#formSubmitBtn:hover {
    background-color: #30a8d8;
}

#geaterConvFamily {
    align-self: bottom;
    grid-area: grPic;
    justify-self: left;
    margin: 140px 0 0 90px;
    width: 32vw;
    max-width: 600px;
}

#getInTouchTitle {
    padding-top: 30px;
}

#greaterConvImg {
    margin-top: 180px;
    position: relative;
    width: 100%;
    z-index: 1;
}

#greaterConvP {
    grid-area: grSubTitle;
    margin-bottom: 185px;
}

#greaterConvTitle {
    align-self: top;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    grid-area: grTitle;
    justify-self: top;
    margin-top: 100px;
    width: 460px;
}

#greaterConvTitle h1 {
    font-weight: 700;
}

#greaterConvTitle p {
    font-weight: 400;
    margin-top: -20px;
}

#grFlashPass {
    grid-area: grFlash;
}

#grFlashPass img {
    margin: 18px 0 0 25px;
    width: 50px;
}

#grPersonal {
    grid-area: grPersonal;
}

#grPersonal img {
    margin: 16px 0 0 25px;
    width: 50px;
}

#grSmartMsg {
    grid-area: grSmart;
}

#grSmartMsg img {
    margin: 15px 0 0 32px;
    width: 40px;
}

#grSupport {
    grid-area: grSupport;
}

#grSupport img {
    margin: 14px 0 0 25px;
    width: 47px;
}

#grVirtual {
    grid-area: grVirtual;
}

#grVirtual img {
    margin: 19px 0 0 26px;
    width: 47px;
}

#hamburgerMenu {
    display: none;
}

#headerBackground {
    height: 150vh;
    left: 0;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: -150px;
    z-index: 1;
}

#homeLink {
    margin-left: 0;
}

#leftColList,
#rightColList {
    margin: 0 auto;
    text-align: left;
    width: 430px;
}

#lineGraph {
    max-width: 1200px;
    width: 95%;
}

#lineGraphDiv {
    text-align: center;
    margin-bottom: 200px;
    width: 100%;
}

#middleProb {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    margin-top: 265px;
    margin-left: -55px;
    height: 170px;
    width: 785px;
}

#momAndBaby {
    margin-top: 250px;
    width: 100%;
}

#newsletterEmail {
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: rgb(99, 99, 99);
    float: left;
    padding: 0 0 0 30px;
    width: 470px;
}

#newsletterEmail:active,
#newsletterEmail:focus {
    outline: none;
}

#newsletterEmail::placeholder {
    color: #9c9c9c;
}

#newsletterForm {
    margin: 30px auto 0 auto;
    width: 600px;
}

#newsletterSubmit { 
    background-color: #3b8dc4;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: white;
    float: right;
    transition: ease 0.2s all;
    width: 100px;
}

#newsletterSubmit:hover {
    background-color: #337cac;
}

#newsletterSubmitText {
    margin-left: -8px;
}

#newsletterEmail,
#newsletterForm,
#newsletterSubmit {
    height: 70px;
    font-size: 1.2rem;
}

#outerProbs {
    background-color: white;
    box-shadow: 0px 0px 40px 12px #e0e0e0;
    height: 500px;
    margin-top: 50px;
    padding-top: -1px;
}

#paymentMethods {
    margin: -40px 0 200px 0;
    text-align: center;
    width: 100%;
}

#paymentMethods h3 {
    color: #989898;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
}

#pcLeftColumn {
    border: 3px solid #d9d9d9;
    border-radius: 15px;
    background-color: white;
    grid-area: leftCol;
    height: 1000px;
    width: 500px;
}

#pcRightColumn {
    border: 3px solid #1aade4;
    border-radius: 15px;
    background-color: white;
    grid-area: rightCol;
    height: 1000px;
    width: 500px;
}

#pcTitle {
    grid-area: pcTitle;
}

#pcTitle h1,
#daTitle h1 {
    color: #33b1e1;
    font-size: 3rem;
}

#pcTitle h3,
#daTitle h3 {
    font-size: 1.8rem;
    margin-bottom: 80px;
    margin-top: -25px;
}

#prob1 {
    margin-left: 45px;
    margin-top: 100px;

    background: url('../images/diamond.png') no-repeat left 69px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    padding-left: 45px;
    padding-top: 55px;
    width: 540px;
}

#prob2 {
    background: url('../images/diamond.png') no-repeat left 50px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    margin-left: 150px;
    padding-left: 45px;
    padding-top: 36px;
    width: 540px;
}

#prob2 li {
    width: 430px;
}

#prob3 {
    margin-left: 45px;
    margin-top: 266px;

    background: url('../images/diamond.png') no-repeat left 30px;
    background-size: 25px;
    display: block;
    list-style-type: none;
    padding-left: 45px;
    width: 540px;
}

#prob1 li, 
#prob2 li,
#prob3 li {
    font-size: 1.5rem;
}

#problemDivEllipse {
    left: 50%;
    margin-top: -1050px;
    margin-left: 290px;
    object-fit: cover;
    position: absolute;
}

#problemList {
    font-family: 'Raleway', sans-serif;
    grid-area: rect;
    z-index: 9;
}

#problemTopic {
    align-self: center;
    grid-area: problem;
    font-family: 'Raleway', sans-serif;
    margin-top: -40px;
    width: 430px;
}

#problemTopic h1 {
    color: #ea1e49;
    font-size: 3rem;
    font-weight: 700;
}

#problemTopic p {
    color: #8c8c8c;
    font-size: 1.5rem;
    font-weight: 400;
}

#sandyTile {
    grid-area: sandy;
}

#sandyTile .contactIcon {
    margin-top: 5px;
}

#sandyTile .linkedInIcon {
    margin-right: 5px;
}

#sandyTile .twitterIcon {
    margin: 0 5px;
}

#sandyTile .emailIcon {
    margin-left: 5px;
}

#theProblemDiv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "believe believe"
    "problem rect"
    "problem rect";
    height: 1200px;
    margin-top: 115vh;
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
}

#topbarLinksDiv {
    float: right;
    margin-right: 40px;
    text-shadow: 2px 2px black;
}

#topbarLinksDiv a:hover {
    border-bottom: 3px solid #1aade4;
    padding-bottom: 3px;
    transition: ease 0.1s all;
}

/* Media Queries Below*/

/* Media Query for Laptops */
@media only screen and (max-width: 1480px) and (min-width: 1024px) {
    #theProblemDiv {
        margin-top: 100vh;
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1360px) and (min-width: 1024px) {
    #theProblemDiv {
        grid-template-columns: 40% 60%;
        margin-top: 95vh;
        transform: scale(0.8);
        width: 1200px;
    }

    #middleProb {
        margin-left: -50px !important;
        width: 820px;
    }

    #middleProb li {
        width: 490px;
    }

    #problemTopic {
        margin-left: -40px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    #believeTopic {
        margin-bottom: -200px;
    }

    #theProblemDiv {
        grid-gap: 80px;
        grid-template-columns: 40% 60%;
        margin-top: 75vh;
        transform: scale(0.7);
        width: 1024px;
    }

    #theProblemDiv li {
        margin-left: 10px;
        width: 450px;
    }

    #middleProb {
        width: 715px;
    }

    #middleProb li {
        margin-left: -50px;
    }

    #prob1 {
        background: url('../images/diamond.png') no-repeat left 64px !important;
    }

    #prob1 li {
        margin-top: -20px;
    }

    #prob2 {
        background: url('../images/diamond.png') no-repeat left 50px;
        margin-left: 90px;
        padding-left: 105px;
    }

    #prob3 {
        background: url('../images/diamond.png') no-repeat left 43px;
        margin-top: 240px;
    }
}


/* Media Query for large tablets*/
@media only screen and (max-width: 1200px) {
    .bun {
        background-color: white;
        border-radius: 3px;
        display: block;
        height: 7px;
        width: 40px;
        z-index: 6;
    }

    .topbarLink,
    #topbarLinksDiv {
        display: none;
    }

    .side {
        display: block !important;
    }

    #bottomBun, 
    #middleBun {
        margin-top: 5px;
    }

    #hamburgerCheckbox {
        display: block;
        height: 39px;
        margin: -2px 0 0 -4px;
        opacity: 0;
        position: absolute;
        width: 50px;
        z-index: 7;
    }

    #hamburgerCheckbox:checked ~ #menu {
        opacity: 1;
        visibility: visible;
    }

    #hamburgerIcon {
        position: relative;
        z-index: 6;
    }

    #hamburgerMenu {
        display: block;
        position: absolute;
        right: 30px;
        top: 0px;
        z-index: 6;
    }

    #menu {
        background-color: rgba(20, 20, 20, .9);
        border-radius: 4px;
        height: 365px;
        margin: 10px 0 0 0;
        opacity: 0;
        padding: 0px 20px 20px 30px;
        position: absolute;
        right: -30px;
        text-align: right;
        top: -40px;
        transition: ease 0.3s all;
        visibility: hidden;
        width: 140px;
        z-index: 5;
    }

    #menu a {
        cursor: pointer;
        margin-top: 20px;
    }

    #topSideLink {
        margin-top: 90px !important;
    }
}

@media only screen and (max-width: 1024px) {
    #problemTopic {
        margin-top: -130px;
    }

    #theProblemDiv {
        align-items: center !important;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "believe"
        "problem"
        "problem"
        "rect"
        "rect";
        height: 1200px;
        justify-items: center !important;
        margin: 115vh auto 0 auto;
        text-align: center;
        width: 800px;
    }

    #middleProb {
        margin-left: 60;
        width: 750px;
    }

    #prob1, #prob3 {
        margin-left: 30px;
        margin-right: 20px;
    }

    #problemList {
        margin-top: -200px;
    }

    #problemList  li{
        text-align: left;
    }
}

@media only screen and (max-width: 900px) {
    .header h1 {
        font-size: 2.3rem;
    }

    #believeLogo {
        margin: -10px 0 0 20px;
        width: 200px;
    }

    #theProblemDiv {
        margin-top: 95vh;
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 650px) {
    .title {
        width: 300px;
    }

    .title h1 {
        margin-bottom: 20px;
    }

    #believeLogo {
        width: 150px;
    }

    #hamburgerIcon {
        margin-right: -10px;
    }
}